<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title>Multiple File Upload</title>
</head>
<body>

    <main>
        <section class="droparea">
            <i class="far fa-file-word"></i>
            <form method="post" action= "/upload" enctype="multipart/form-data">
                <input type= "file" name = "files" multiple/>
                <button type = "submit">Upload</button>
            </form>
            <p>Drop your scripts here.</p>
            <p><small>Up to 12 ISCI codes at at time.</small></p>
        </section>
    </main>

    <!-- <div>
        <form method="post" action= "/upload" enctype="multipart/form-data">
            <input type= "file" name = "files" multiple/>
            <button type = "submit">Upload</button>
        </form>
    </div> -->
</body>
</html>